/* Album container */
.albums-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.album {
  /* border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  cursor: pointer;
  transition: all 0.3s ease; */
  width: 30%;
}

/* Hover effect */
.album:hover {
  border-color: #999;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Active click effect */
.album:active {
  background-color: #f0f0f0;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cover image */
.album img {
  max-width: 100%; /* Ensure images don't exceed the container width */
  height: auto; /* Maintain the image's aspect ratio */
  margin-bottom: 10px; /* Add space below the cover image */
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

.date {
  font-size: 0.9em;
  color: #555;
}
