.album-detail {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 1200px;
    padding: 20px;
    gap: 20px; /* To provide space between album and song sections */
}

/* Styles for the album section */
.album {
    flex: 1;
    box-sizing: border-box;
    padding: 30px;
    background-color: #f7f7f7; /* Light gray background */
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

.album .title {
    font-size: 26px;
    margin-bottom: 20px;
}

.album .date {
    font-size: 20px;
}

/* Styles for the song section */
.song {
    flex: 1;
    box-sizing: border-box;
    padding: 30px;
    background-color: #f0f0f0; /* Slightly different shade of gray */
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

.addSong-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.addSong-container input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.addSong-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* transition for smooth color change */
}

.addSong-container button:hover {
    background-color: #0056b3; /* Slightly darker shade on hover */
}

.listOfSongs .song {
    padding: 10px;
    background-color: #ffffff; /* White background for individual songs */
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    border-radius: 5px;
}
